<h1>List of all <%= link_to "#{@network.name}", "/networks/#{@network.id}"%> Shows</h1>

<% @network.shows.each do |show| %>
  <h3><a href="/network_shows/<%= show.id %>"><%= show.name %></a></h3>
  <h5>Daytime Show: <%= show.daytime_show %></h5>
<% end %>
<br/>
<br/>
<a href="/">Home</a>
<br/>
<a href="/network_shows/new">New Show</a>

