<h2>Welcome to Relational Rails</h2>
<ul>
  <li><a href="/networks">Network Index</a></li>
  <li><a href="/networks/new">New Network</a></li>
  <li><a href="/restaurants">Restaurant Index</a></li>
  <li><a href="/restaurants/new">New Restaurant</a></li>
</ul>
